@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background: transparent linear-gradient(270deg, #2F0F5A 0%, #1B0541 100%) 0% 0% no-repeat padding-box;
  --green: #17A689;
  --footer-bg: #0E0227;
  --hero-gap: 132px;
}

body {
  background: var(--background);
  opacity: 1;
}

nav {
  font: normal normal 600 16px/28px Montserrat;
  margin-bottom: 108px;
}

nav .book-a-demo {
  padding: 8px 15px;
  text-decoration: none;
  background: transparent linear-gradient(270deg, var(--green) 0%, #2B947E 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  box-shadow: 0px 5px 0px #155A4A;
  text-shadow: 0px 2px 4px #00000080;
  margin-left: 6px;
}

.navbar-brand {
  margin-right: 100px;
}

.navbar-nav a {
  white-space: nowrap;
}

/* .nav-item:not(:last-child, :first-child) {
  margin: 0 20px;
}
.nav-item:first-child {
  margin-right: 20px;
} */

nav .navbar-nav {
  gap: 40px;
}

section {
  margin: 130px 0;
}

.title-1 {
  font: normal normal 600 50px/65px Montserrat;
}

.title-2 {
  font: normal normal 600 50px/65px Montserrat;
  color: var(--green);
}

.hero-body {
  margin-top: 64px;
}

.hero .description {
  margin-top: 18px;
  font: normal normal 500 24px/29px Montserrat;
}

.price {
  font: normal normal bold 35px/43px Montserrat;
}

.green {
  font: normal normal 600 30px/43px Montserrat;
  color: var(--green);
}

.cta a {
  background: transparent linear-gradient(270deg, #14A485 0%, #2B947E 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 0px #155A4A;
  border-radius: 6px;
  padding: 15px 36px;
}

.cta {
  margin-top: 50px;
}

.hero {
  margin-top: 0;
}

.hero-banner img {
  margin-left: var(--hero-gap);
  max-width: 666px;
  height: auto;
  width: 100%;
}

.pattern {
  z-index: -1;
  /* bottom: -194px;
  right: -303px; */
  bottom: -36px;
  right: 0px;
}

.blog-title {
  font: normal normal 600 35px/25px Montserrat;
  margin-bottom: 30px;
}

.blog-description p {
  font: normal normal 400 24px/36px Montserrat;
}

.customers-gap {
  gap: 20px;
}

.customer {
  border-radius: 10px;
  padding: 9px;
}

.customers-title {
  font: normal normal 700 45px/65px Montserrat;
  margin-top: -56px;
}

.customers-title .green {
  font: normal normal 700 49px/65px Montserrat;
}

.features h1 {
  font: normal normal bold 40px/49px Montserrat;
}

.features .section-title {
  margin-bottom: 123px;
}

.circle {
  color: #251759;
  clip-path: circle(50% at 50% 50%);
  height: 270px;
  width: 270px;
  border-radius: 50%;
  outline: 3px dashed #251759;
  outline-offset: -10px;
  text-align: center;
  padding-top: 112px;
}

.separator img {
  width: 100%;
  max-width: 1556px;
  height: auto;
}

.circle i,
.circle::before {
  content: '';
  float: left;
  height: 100%;
  width: 50%;
  shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - 18px), #fff 0);
}

.circle i {
  float: right;
  shape-outside: radial-gradient(farthest-side at left, transparent calc(100% - 18px), #fff 0);
}

.semi-circle {
  background-color: var(--green);
  clip-path: circle(50% at 50% 110%);
  height: 300px;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: -190px;
  left: 50%;
  transform: translateX(-50%);
}

.img-circle {
  clip-path: circle(50% at 50% 50%);
  background-color: #3F3F81;
  width: 90px;
  height: 90px;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 50%;
  border: solid 2px #FFFFFF;
}

.feature-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.semi-circle-text {
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
  z-index: 4;
  font: normal normal 700 25px/30px Montserrat;
}

.circle-text {
  font: normal normal 500 18px/25px Montserrat;
  color: #251759;
  z-index: 4;
  bottom: 50px;
}

.feature-list {
  gap: 60px;
}

.hr {
  margin: 0 auto 10px auto;
  border: 2px dashed #FFFFFF;
  width: calc(100% - 370px);
  background: transparent;
}

footer {
  background: var(--footer-bg);
  padding: 160px 20px 64px 20px;
}

.footer-bottom {
  background-color: #000000;
  font-family: Montserrat;
  line-height: 30px;
  padding: 26px 0;
}

.footer-bottom span {
  color: var(--green);
}

.footer-brand+p {
  margin-top: 30px;
  font: normal normal 500 18px/30px Montserrat;
}

.footer-heading {
  font: normal normal 600 18px/32px Montserrat;
  color: var(--green);
  margin-bottom: 15px;
}

.brand-col {
  margin-top: -16px;
}

.compare-to {
  margin-top: 30px;
}

footer ul {
  font: normal normal 400 16px/40px Montserrat;
}

footer ul li {
  cursor: pointer;
}

.blog-img img {
  width: auto;
  max-width: inherit;
  height: auto;
}

/* MEDIA QUERIES */

@media (max-width: 1600px) and (min-width: 1280px) {
  .navbar-brand {
    margin-right: 40px;
  }

  nav .navbar-nav {
    gap: 20px;
    font-size: 14px;
  }
}

@media (max-width: 1600px) and (min-width: 992px) {
  .navbar-nav a {
    white-space: normal;
  }

  .title-1,
  .title-2 {
    font-size: 42px;
  }
}

@media (max-width: 1280px) and (min-width: 992px) {
  .navbar-brand {
    margin-right: 22px;
  }

  nav .navbar-nav {
    gap: 12px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  section {
    margin: 74px 0;
  }

  nav .navbar-nav {
    gap: 0px;
    font-size: 12px;
  }

  nav .book-a-demo {
    padding: 4px 8px;
    font-size: 14px;
  }

  .navbar-brand img {
    width: 135px;
    height: 28px;
  }

  nav {
    margin-bottom: 32px;
  }
}

@media (max-width: 1112px) and (min-width: 768px) {

  .title-1,
  .title-2 {
    font-size: 32px;
    line-height: 40px;
  }

  .hero .description {
    font-size: 20px;
  }

  .hero .price,
  .hero .price .green {
    font-size: 22px;
  }

  .blog-description p {
    font-size: 20px;
  }
}

@media (max-width: 1112px) {
  .customers-title .green {
    font-size: 38px;
  }

  .customers-title .green~h1 {
    font-size: 32px;
  }

  .features .section-title h1 {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  nav {
    margin-bottom: 24px;
  }

  section {
    margin: 60px 0;
  }

  nav .navbar-nav {
    gap: 10px;
  }

  #navbarNav {
    gap: 30px;
  }

  footer {
    padding-top: 80px;
    padding-bottom: 32px;
  }

  .footer-heading {
    margin-bottom: 18px;
  }

  .brand-col {
    margin-top: unset;
  }

  .blog-img img {
    width: inherit;
  }

  .customers-gap {
    gap: 10px;
  }
}

@media (max-width: 767px) {

  .title-1,
  .title-2 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero .description {
    font-size: 18px;
  }

  .hero .price,
  .hero .price .green {
    font-size: 22px;
  }

  .cta {
    margin-top: 30px;
  }

  .blog-title {
    font-size: 28px;
    line-height: 32px;
  }

  .blog-description p {
    font-size: 18px;
    line-height: 32px;
  }

  .customers-title .green {
    font-size: 32px;
  }

  .customers-title .green~h1 {
    font-size: 28px;
  }

  .features .section-title h1 {
    font-size: 28px;
  }

  .features .section-title h1 {
    line-height: 36px;
  }

  section {
    margin: 32px 0;
  }

  .hr {
    display: none;
  }

  .customers-gap {
    gap: 5px;
  }

}

.weather-channel {
  max-width: 226px !important;
  width: 100% !important;
  height: auto !important;
}

.customer img {
  max-width: 134px;
  width: 100%;
  height: auto;
}


.customer {
  text-align: center;
}

/* @media (max-width: 1400px) and (min-width: 1200px) {
} */

@media (max-width: 1200px) {
  .customers-container {
    margin-bottom: 120px;
  }
}

@media (max-width: 1450px) and (min-width: 1300px) {
  .hero-banner img {
    margin-left: var(--hero-gap)/2;
  }
}

@media (max-width: 1200px) {
  .hero-banner img {
    margin-left: 0;
  }
}


/* .customer img {
  width: auto;
} */